In [1]:
# Problem 1: Overall Average Rating

import pandas as pd
df = pd.read_csv("C:\\Users\\alayp\\Downloads\\sample_googleplaystore.csv")
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,8-Jun-18,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,TurboScan: scan documents and receipts in PDF,BUSINESS,4.7,11442,6.8M,"100,000+",Paid,$4.99,Everyone,Business,25-Mar-18,1.5.2,4.0 and up
235,Tiny Scanner Pro: PDF Doc Scan,BUSINESS,4.8,10295,39M,"100,000+",Paid,$4.99,Everyone,Business,11-Apr-17,3.4.6,3.0 and up
236,Box,BUSINESS,4.2,159872,Varies with device,"10,000,000+",Free,0,Everyone,Business,31-Jul-18,Varies with device,Varies with device
237,Zenefits,BUSINESS,4.2,296,14M,"50,000+",Free,0,Everyone,Business,15-Jun-18,3.2.1,4.1 and up
238,Google Ads,BUSINESS,4.3,29313,20M,"5,000,000+",Free,0,Everyone,Business,30-Jul-18,1.12.0,4.0.3 and up

In [2]:
df1 = df[["Rating"]]
df1

     Rating
0       4.1
1       3.9
2       4.7
3       4.5
4       4.3
..      ...
234     4.7
235     4.8
236     4.2
237     4.2
238     4.3

[239 rows x 1 columns]

In [3]:
mean = df1.mean()
mean

Rating    4.318421
dtype: float64

In [4]:
# Problem 2: Average Rating per Category

unique = df["Category"].unique().tolist()
unique

['ART_AND_DESIGN',
 'AUTO_AND_VEHICLES',
 'BEAUTY',
 'BOOKS_AND_REFERENCE',
 'BUSINESS']

In [5]:
df2 = df[["Category" , "Rating"]]
df2

           Category  Rating
0    ART_AND_DESIGN     4.1
1    ART_AND_DESIGN     3.9
2    ART_AND_DESIGN     4.7
3    ART_AND_DESIGN     4.5
4    ART_AND_DESIGN     4.3
..              ...     ...
234        BUSINESS     4.7
235        BUSINESS     4.8
236        BUSINESS     4.2
237        BUSINESS     4.2
238        BUSINESS     4.3

[239 rows x 2 columns]

In [6]:
avgRating = df2.groupby("Category")["Rating"].mean().to_dict()
avgRating

{'ART_AND_DESIGN': 4.316666666666666,
 'AUTO_AND_VEHICLES': 4.297959183673469,
 'BEAUTY': 4.328571428571428,
 'BOOKS_AND_REFERENCE': 4.3711111111111105,
 'BUSINESS': 4.286274509803921}

In [7]:
# Problem 3: Full Data Summarization

nonNumeric = df [['App','Category','Size','Installs','Type','Content Rating','Genres','Last Updated','Current Ver','Android Ver']]
for cols in nonNumeric.columns:
    print(f"\nColumn {cols}:")
    value_counts = nonNumeric[cols].value_counts().head(10)
    for values, counts in value_counts.items():
        print(f" {values}: {counts}")

Column App:
 Quick PDF Scanner + OCR FREE: 2
 Box: 2
 FBReader: Favorite Book Reader: 1
 Free Books - Spirit Fanfiction and Stories: 1
 Google Play Books: 1
 AlReader -any text book reader: 1
 Offline English Dictionary: 1
 Oxford Dictionary of English : Free: 1
 Offline: English to Tagalog Dictionary: 1
 Spanish English Translator: 1

Column Category:
 BUSINESS: 52
 ART_AND_DESIGN: 49
 AUTO_AND_VEHICLES: 49
 BOOKS_AND_REFERENCE: 48
 BEAUTY: 41

Column Size:
 Varies with device: 49
 14M: 8
 17M: 7
 25M: 7
 2.9M: 6
 21M: 6
 19M: 6
 12M: 5
 35M: 5
 4.2M: 5

Column Installs:
 100,000+: 60
 1,000,000+: 50
 500,000+: 27
 10,000,000+: 26
 10,000+: 24
 5,000,000+: 23
 50,000+: 17
 50,000,000+: 5
 5,000+: 3
 100,000,000+: 3

Column Type:
 Free: 237
 Paid: 2

Column Content Rating:
 Everyone: 214
 Teen: 14
 Everyone 10+: 6
 Mature 17+: 5

Column Genres:
 Business: 52
 Auto & Vehicles: 49
 Books & Reference: 48
 Art & Design: 42
 Beauty: 41
 Art & Design;Creativity: 5
 Art & Design;Pretend Play: 1
 Art & Design;Action & Adventure: 1

Column Last Updated:
 30-Jul-18: 12
 2-Aug-18: 11
 31-Jul-18: 9
 1-Aug-18: 7
 26-Jul-18: 6
 11-Jul-18: 6
 3-Aug-18: 6
 17-Jul-18: 5
 12-Jul-18: 5
 24-Jul-18: 5

Column Current Ver:
 Varies with device: 45
 1: 15
 1.1: 6
 3: 5
 1.6: 5
 1.5: 4
 4: 4
 1.1.0: 4
 1.3: 4
 1.0.0: 4

Column Android Ver:
 4.0.3 and up: 54
 4.1 and up: 48
 Varies with device: 37
 4.0 and up: 32
 2.3 and up: 13
 4.2 and up: 11
 4.4 and up: 10
 3.0 and up: 10
 5.0 and up: 7
 2.2 and up: 4

In [8]:
numeric = df [['Rating', 'Reviews', 'Price']]
for cols in numeric.columns:
    print(f"\nColumn {cols}:")
    value_counts = numeric[cols].value_counts().head(10)
    for values, counts in value_counts.items():
        print(f" {values}: {counts}")

Column Rating:
 4.4: 31
 4.2: 26
 4.6: 26
 4.5: 23
 4.3: 23
 4.7: 21
 4.1: 20
 3.9: 15
 4.0: 12
 4.8: 9

Column Reviews:
 967: 3
 8788: 2
 30: 2
 159872: 2
 80805: 2
 9: 2
 654: 2
 129: 2
 1862: 1
 19080: 1

Column Price:
 0: 237
 $4.99 : 2

In [10]:
numeric.max()

Rating         4.9
Reviews    2914724
Price            0
dtype: object

In [12]:
numeric.min()

Rating        3.1
Reviews         2
Price      $4.99
dtype: object

In [13]:
numeric1 = df [['Rating', 'Reviews']]
numeric1.mean()

Rating         4.318421
Reviews    77748.456067
dtype: float64